.container {
    padding: 10%
}

.detailHeader {
    position: relative;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    font-weight: bold;
    line-height: 50px;
    overflow: hidden;
    padding: 10px 20px;
}
.detailHeader img {
    width: 50px;
}
.detailHeader::before {
    overflow: hidden;
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 150%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to right, #FF6137 30%, black 30%);
    transform: skew(-20deg);
}

.detail_number {
    font-size: 30px;
}
.detail_name {
    color: white;
    font-size: 30px;
}

.mainImage {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
.mainImage img {
    width: 60%;
}
.detail {
    padding: 0 10px;
}
.detail table{
    width: 100%;
}
.detail table th,td {
    width: 50%;
    text-align: center;
    background-color: #4F4D4D;
    color: white;
    height: 30px;
    font-size: 20px;
}