.container {
    max-height: 87vh;
    overflow:auto;
}
.container::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.container::-webkit-scrollbar-track {
    background: #9C1306; 
}

/* Handle */
.container::-webkit-scrollbar-thumb {
    background: #FF7B49; 
}

/* Handle on hover */
.container::-webkit-scrollbar-thumb:hover {
    background: #FF7B49; 
}

